ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0088ff;
    display: flex;
    align-items: center;
}

li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
    height: 100%;
}

li a:hover {
    background-color: #01549c;
}

li logo {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
    height: 100%;
}